* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

.container-elements {
  display: flex;
  height: auto;
  flex-direction: row-reverse;
}

.container {
  width: 1145px;
}

.container-right {
  width: 775px;

  background: radial-gradient(
    113.94% 113.94% at 50.06% -13.94%,
    #38a3a2 17.04%,
    #10605d 100%
  );
  border-radius: 20px 0px 0px 20px;
}

.overlay {
  display: inline-block;
  
  width: 100%;
  height: 100vh;

  background-image: url("./image/circulo.svg"), url("./image/triangulo.svg");
  background-repeat: no-repeat;
  background-position-y: 99%, 85%;
  background-position-x: 80%, 10%;

  padding: 50px 0;
}

.logo {
  display: flex;
  align-items: center;
  
  width: 220px;
  height: 56px;
  
  margin-top: 38px;
  margin-left: 60px;
  
}

.logo img {
  padding: 0 8px;
}

.logo h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
}

.quadrado {
  margin-right: 16px;
  box-sizing: border-box;
  width: 56px;
  height: 56px;
  border: 2px solid white;
}

.login-usuario h1 {
  margin-top: 171px;

  text-align: center;

  font-style: normal;
  font-weight: 800;
  font-size: 80px;

  line-height: 94px;

  color: #38aa95;
}

.login-usuario h2 {
  margin-top: 47px;

  font-style: normal;
  font-weight: 800;
  font-size: 30px;

  line-height: 35px;

  color: #000000;

  opacity: 0.8;
}

.sign {
  text-align: center;
}

.sign button {
  width: 333px;
  height: 79px;

  margin-top: 51px;

  background: #38aa95;

  border-radius: 50.5px;

  font-style: normal;
  font-weight: 600;
  font-size: 30px;

  line-height: 35px;

  color: #ffffff;

  border: none;

  cursor: pointer;
}

.formas-de-login {
  display: flex;

  width: 230px;

  margin: 0 auto;

  justify-content: space-between;
  align-items: center;
}
.formas-de-login button {
  width: 67px;
  height: 67px;

  margin-top: 47px;

  border-radius: 35px;
  border: 1px solid rgba(0, 0, 0, 0.3);

  box-sizing: border-box;

  background: #ffffff;

  cursor: pointer;
}

.dados-usuario {
  width: 702px;

  margin: 0 auto;
  margin-top: 67px;
}

.dados-usuario :nth-child(1) {
  background-image: url("./image/name.svg");
  background-repeat: no-repeat;
  background-position-y: 33px;
  background-position-x: 30px;
}

.dados-usuario :nth-child(3) {
  background-image: url("./image/email\ logo.svg");
  background-repeat: no-repeat;
  background-position-y: 33px;
  background-position-x: 30px;
}

.dados-usuario :nth-last-child(1) {
  background-image: url("./image/senha\ logo.svg");
  background-repeat: no-repeat;
  background-position-y: 33px;
  background-position-x: 30px;
}

.dados-usuario input {
  width: 100%;
  height: 90px;

  padding-left: 84px;

  margin-bottom: 31px;

  background: #eaeeed;

  border-radius: 20px;
  border: none;

  font-style: normal;
  font-weight: 500;
  font-size: 26px;

  line-height: 31px;

  color: #000000;

  opacity: 0.3;
}
.sign-up {
  margin-top: 288px;
  text-align: center;
}

.sign-up h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 70px;

  line-height: 82px;

  color: #ffffff;
}

.sign-up h2 {
  margin-top: 38px;

  font-style: normal;
  font-weight: 500;
  font-size: 30px;

  line-height: 35px;

  color: #ffffff;
}

.sign-up button {
  width: 333px;
  height: 79px;

  margin-top: 47px;

  background-color: transparent;

  box-sizing: border-box;

  border: 2px solid #ffffff;
  border-radius: 50.5px;

  font-style: normal;
  font-weight: 600;
  font-size: 30px;

  line-height: 35px;

  text-align: center;

  cursor: pointer;

  color: #ffffff;
}

.sign-up a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1200px) {
  .container h1 {
    font-size: 60px;
  }

  .container-right h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 1100px) {
  .container-right button {
    width: 250px;
    height: 50px;
  }

  .container-right h2 {
    font-size: 20px;
  }

  .dados-usuario {
    width: 100%;
    padding: 10px;
  }

  .dados-usuario input {
    width: 100%;
    height: 80px;
  }
}

@media screen and (max-width: 850px) {
  .container-elements {
    height: 100%;
  }

  .container-right button {
    width: 200px;
    height: 50px;
  }

  .container-right h2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 730px) {
  .container-elements {
    flex-direction: column-reverse;
    align-items: center;
  }

  .container {
    width: 100%;
  }

  .container-right {
    width: 100%;
    border-radius: 0px;
  }

  .container h1 {
    margin-top: 50px;
  }

  .dados-usuario {
    text-align: center;
  }

  .sign button {
    margin-bottom: 40px;
  }

  .sign-up {
    margin-top: 0;
    padding: 100px 0;
  }
}
